body {
  background: papayawhip;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.a {
  background: red;
  height: 200px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center; /* These next 3 lines... */
  vertical-align: middle; /* ... make the text stay directly in the center of the div */
  line-height: 200px; /* also, line-height should be =2 height of the div */
}

.b {
  background: blue;
  height: 200px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.c {
  background: yellow;
  height: 200px;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.d {
  background: orange;
  height: 200px;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.e {
  background: purple;
  height: 200px;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.f {
  background: pink;
  height: 410px;
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5%;
  text-align: center;
  vertical-align: middle;
  line-height: 410px;
}

.inside-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 67.5%;
  max-height: 500px;
  margin-left: 5%;
}

.container {
  width: 100%;
  max-height: 700px;
  display: inline-flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .container {
      display: block;
  }

  .a {
    height: 100px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 100px; /* line-height changed because height of the div changed */
  }                     /* this is needed to keep the text in the middle */

  .b {
    height: 300px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 300px;
  }

  .c, .d, .e {
    height: 100px;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 100px;
  }

  .f {
    width: 90%;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 100px;
  }

  .inside-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}